.DS_Store
*.class
*.jar
*.zip
*.tgz
*.bak
keys.txt
rebel.xml
init.properties
nbactions.xml
Tomcat.dpf
nb-configuration.xml
onemenu-server/target/
onemenu-server/tmp/**
onemenu-server/src/main/webapp/WEB-INF/lib/**
onemenu-server/src/main/webapp/WEB-INF/classes/**
onemenu-puppet/*.txt
onemenu-puppet/onemenu/files/admin-keyfile
onemenu-puppet/onemenu/files/adminpass.txt
onemenu-invalidator/target/
/target/